<?xml version="1.0"?>
<appSettings>
  <!-- AWS Cognito Identity Settings -->
  <add key="AWSRegion" value="us-east-1" />
  <add key="ACCOUNT_ID" value="706076253264" />
  <add key="CLIENT_ID" value="7l7cuvs0us3jl61cjicgn53dhg" />
  <add key="USERPOOL_ID" value="us-east-1_C2HSNnM6c" />
  <add key="IDENTITYPOOL_ID" value="us-east-1:d6c9368c-1bda-41bf-adfa-51810a5ce450" />
  <add key="IDENTITY_PROVIDER" value="cognito-idp.us-east-1.amazonaws.com/us-east-1_C2HSNnM6c" />
  <add key="AUTH_ROLE" value="Cognito_CaresTrackerAuth_Role" />
  <add key="UNAUTH_ROLE" value="Cognito_CaresTrackerUnauth_Role" />
</appSettings>