<?xml version="1.0"?>
  <connectionStrings>
    <add name="dbConnectionString"
     providerName="System.Data.ProviderName"
     connectionString="server=127.0.0.1,5555;Database=FA20_3342_tug84786;User id=tug84786;Password=iquei4VieS" />
    <add name="CARESEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1,5555;initial catalog=FA20_3342_tug84786;user id=tug84786;password=iquei4VieS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
