@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

/*body {
    background: linear-gradient(to right, #D3D3D3, #157CB6);
}*/

#RIForm {
    background: #fff;
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    position: relative;
    margin-top: 3%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

.logo {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    font-family: 'Nunito Sans', sans-serif;
    color: #3dbb3d;
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.CTA {
    width: 80px;
    height: 40px;
    right: -20px;
    bottom: 0;
    margin-bottom: 90px;
    position: absolute;
    z-index: 1;
    background: #7ed386;
    font-size: 1em;
    transform: rotate(-90deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

    .CTA h1 {
        color: #fff;
        margin-top: 10px;
        margin-left: 9px;
    }

    .CTA:hover {
        background: #3fb6a8;
        transform: scale(1.1);
    }

.leftbox {
    float: left;
    top: 0%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 100%;
    background: #31749b;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, .5);
}

.leftbox nav a {
    list-style: none;
    padding: 10px;
    padding-bottom: 40px;
    color: white;
    font-size: 1em;
    display: block;
    transition: all 0.3s ease-in-out;
}

    /*.leftbox nav a:hover {
        color: #5CA0F2;
        transform: scale(1.2);
        cursor: pointer;
    }*/

    .leftbox nav a:first-child {
        margin-top: 7px;
    }

.active {
    color: #09203F;
}

.rightbox {
    float: right;
    width: 70%;
    height: 90%;
}

.residentInfo, .meetingInfo, .residentHealth, .services, .otherInfo, .housingInfo {
    transition: opacity 0.5s ease-in;
    position: absolute;
    width: 80%;
    height: 90%;
    font-size: 2em;
}

@media(max-height: 768px) {
    .residentInfo, .meetingInfo, .services, .otherInfo, .housingInfo {
        transition: opacity 0.5s ease-in;
        width: 80%;
        height: 80%;
        font-size: 1em;
        
    }

    .residentHealth {
        transition: opacity 0.5s ease-in;
        height: 80%;
        width: 80%;
        font-size: 1em;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x:hidden;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #352384;
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 25px;
}

h2 {
    color: #777;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 2px;
    font-weight: bold;
}

p {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #3fb6a8, rgba(126, 211, 134, .5)) 1 0%;
    border-top: 0;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    padding: 7px 0;
    color: #070707;
}

span {
    font-size: 0.5em;
    color: #777;
}

.btn {
    float: right;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    color: #3fb6a8;
}

    .btn:hover {
        text-decoration: underline;
        font-weight: 900;
    }

input {
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    margin: 0;
}

.privacy h2 {
    margin-top: 25px;
}

.settings h2 {
    margin-top: 25px;
}

.noshow {
    opacity: 0;
}

.inputText {
    border-style: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #070707;
}


.inputDropDown {
        border-radius: 3px 4px;
        font-family: 'Montserrat', sans-serif;
        font-size: .75em;
        color: #070707;
        width: 80%;
}

@media(max-width: 1024) {
    .inputDropDown {
        border-radius: 3px 4px;
        font-family: 'Montserrat', sans-serif;
        font-size: .75em;
        color: #070707;
        height: 75%;
        width: 75%;
    }
}

.inputTextArea {
    height: auto;
    width: 85% !important;
    height: 50%;
    font-size: .65em;
}

    .inputCheckBox {
        display: inline-flex;
    }

        .inputCheckBox input[type="checkbox"] {
            margin-right: 2px;
            font-family: 'Montserrat', sans-serif;
        }

        .inputCheckBox label {
            margin-top: .3em;
            font-size: 1.2em;
        }
