.loginImg{
    width: 50%;   
}

.loginContainer {
    overflow: auto;
    min-height: 100vh;
    background-image: url("../img/master-wen-lpLRwDZigvc-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;   
}

.loginCard {
    height: auto;
    background-color: white;
    width: 50vw;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

.verifyCard {
    height: auto;
    background-color: white;
    width: 65vw;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}